<!-- mian-content -->
<!-- <div class="main-content" id="home"> -->
<div class="navlayer">
  <!-- header -->
  <header>
    <div class="container-fluid px-lg-5">
      <!-- nav -->
      <nav class="py-4 d-lg-flex">
        <div id="logo">
          <h1> <a routerLink="/"><span class="fa fa-align-center" aria-hidden="true"></span>JB</a></h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop" />
        <ul class="menu mt-2 ml-auto">
          <li class="active"><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about" class="scroll">About</a></li>
          <li><a routerLink="/menu" class="scroll">Menu</a></li>
          <li>
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle">More <span class="fa fa-angle-down" aria-hidden="true"></span>
            </label>
            <a routerLink="/home">More <span class="fa fa-angle-down" aria-hidden="true"></span></a>
            <input type="checkbox" id="drop-2" />
            <ul class="inner-ul">
              <li><a class="scroll" routerLink="/gallery">Gallery</a></li>
              <li><a routerLink="/services" class="scroll">Services</a></li>
              <li><a routerLink="/offers" class="scroll">Offers</a></li>
            </ul>
          </li>
          <li><a routerLink="/testimonials" class="scroll">Reviews</a></li>
          <li><a routerLink="/contact" class="scroll">Contact</a></li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>
  </header>
  <!-- //header -->
</div>
<!-- </div> -->
<!--// mian-content -->