<!--Services -->
<section class="services py-5" id="services">
  <div class="container py-md-5">
    <div class="header pb-lg-3 pb-3 text-center">
      <h3 class="tittle two mb-lg-3 mb-3">What kind of Foods we serve for you</h3>
    </div>
    <div class="row ab-info mt-lg-4">
      <div class="col-lg-3 ab-content">
        <div class="ab-content-inner">
          <img src="../../../assets/images/1.jpg" alt="news image" class="img-fluid">
          <div class="ab-info-con">
            <h4>Delicious sandwich</h4>
            <p>$5.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 ab-content">
        <div class="ab-content-inner">
          <img src="../../../assets/images/2.jpg" alt="news image" class="img-fluid">
          <div class="ab-info-con">
            <h4>Humburger & Chips</h4>
            <p>$10.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 ab-content">
        <div class="ab-content-inner">
          <img src="../../../assets/images/3.jpg" alt="news image" class="img-fluid">
          <div class="ab-info-con">
            <h4>Two burgers for one</h4>
            <p>$25.99</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 ab-content">
        <div class="ab-content-inner">
          <img src="../../../assets/images/4.jpg" alt="news image" class="img-fluid">
          <div class="ab-info-con">
            <h4>Veg Muffin</h4>
            <p>$28.99</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>